body {
     background-color: green;
}

.game {
     width: 600px;
     height: 200px;
     border-bottom: 1px solid #000;
     margin: 0 auto;
}

#player {
     width: 50px;
     height: 50px;
     background-image: url(../img/2.png);
     background-size: 50px 50px;
     position: relative;
     top: 150px;
     left: 10px;
}

#damper {
     width: 50px;
     height: 50px;
     background-image: url(../img/1.png);
     background-size: 50px 50px;
     position: relative;
     top: 100px;
     left: 560px;
}

.start {
     width: 600px;
     height: 40px;
     display: block;
     margin: 0 auto;
     background-color: rgb(63, 53, 40);
     border-radius: 10px;
     border: 1px solid rgb(71, 71, 170);
}

button span {
     color: white;
}

.animate {
     animation: damperMove 2s infinite linear;
}

.active {
     animation: jumpActive .3s linear;
}

@keyframes damperMove {
     0% {
          left: 560px;
     }

     100% {
          left: -40px;
     }
}

@keyframes jumpActive {
     0% {
          top: 150px;
     }

     20% {
          top: 100px;
     }

     50% {
          top: 50px;
     }

     80% {
          top: 100px;
     }

     100% {
          top: 150px;
     }
}